body {
    background-image: url('https://i.pinimg.com/originals/d2/ff/25/d2ff250fd63586aa9b47edefa023c819.jpg'); background-size:cover;
    color: rgb(255, 255, 255);
    font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: bold;
	font-size: 100%;
	color: rgb(255, 255, 255);
}
