body {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NGTYhyRhgilq4uu1a/seamless-animation-white-snowy-and-snow-winter-landscape-with-dry-and-christmas-trees-and-mountain-background-and-snowflakes-falling-in-snow-blue-sky-snowy-concept-in-4k-hd-loop_s3affrar_thumbnail-full08.png'); background-size:cover;
    color: rgb(255, 255, 255);
    font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: bold;
	font-size: 120%;
	color: rgb(255, 255, 255);
}
